#home {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: flex-end;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 4rem;
}

.home-container .heading-col-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.home-container .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.home-container .heading-text {
    color: var(--txt-clr);
    font-size: 20vmin;
    line-height: 1;
    display: inline;
}
.home-container .heading-highlight {
    display: inline;
    font-family: "Seriguela";
    color: var(--accent-1);
    font-size: inherit;
}
.home-container .heading-subtitle {
    color: var(--txt-clr);
    font-size: 10vmin;
}

.home-container .admin-btn {
    background: none;
    border: none;
    outline: none;
    width: 20vmin;
    aspect-ratio: 1;
}

.home-container .heading-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}
.home-container .heading-col-2 .arrow-img {
    width: 25vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8vmin;
    /* left: -50vmin; */
    right: 4vmin;
}
.home-container .heading-col-2 .arrow-img img {
    width: 100%;
    object-fit: contain;
}
.home-container .heading-col-2 .start-btn {
    font-size: 2.5vmin;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    font-family: Satoshi;
    background-color: var(--txt-clr);
    color: #000;
    border: none;
    font-weight: 500;
}